bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
packages/
*/wwwroot/lib/
*.nupkg
ReSharper/
_ReSharper.Caches/
ncrunch/
NcrunchTemp_
*.dotCover
*.mdf
*.ldf
*.ndf
*.log
*.vspscc
*.vssscc
build/
BuildScripts/
*.trx
*.testsettings
*.vsmdtestsettings
